<footer>
    <div class="container">
      <div class="wapper">
          <div class="row">
            <div class="col-sm-3">.col-sm-4</div>
            <div class="col-sm-3">.col-sm-4</div>
            <div class="col-sm-3">.col-sm-4</div>
            <div class="col-sm-3">.col-sm-4</div>
          </div>
      </div>
      <div class="border border-bot"></div>
      <div class="wapper wrrap-bottom">
          <div class="row">
            <div class="col-sm-2">
                <a class="navbar-brand logo while" href="{{url}}" >{{ name }}</a>
            </div>
            <div class="col-sm-10">
                <div>
                  <p>Footer</p>
                  <p class="vega">© 2018 Javgle Corporation</p>
                </div>
            </div>
          </div>
      </div>
    </div>
  </footer>