<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auto-form-wrapper">
              <form #formLogin="ngForm">
                <div class="form-group">
                  <label class="label">Username</label>
                  <div class="input-group">
                    <input type="text" class="form-control" ngModel name='username' placeholder="Username" required>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline" [style.color]="formLogin.controls.username?.invalid ? 'DarkGrey': 'LimeGreen'"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="label">Password</label>
                  <div class="input-group">
                    <input type="password" class="form-control" ngModel name="password" placeholder="*********" required>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline" [style.color]="formLogin.controls.password?.invalid ? 'DarkGrey': 'LimeGreen'"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button [disabled]="formLogin.invalid" class="btn btn-primary submit-btn btn-block" (click)="login()">Login</button>
                </div>
                <div class="form-group d-flex justify-content-between">
                  
                  <a href="#" class="text-small forgot-password text-black">Forgot Password</a>
                </div>
              
                <div class="text-block text-center my-3">
                  <span class="text-small font-weight-semibold">Not a member ?  </span>
                  <a href="register.html" class="text-black text-small">Create new account</a>
                </div>
              </form>
            </div>
            <simple-notifications></simple-notifications>
            <ul class="auth-footer">
              <li>
                <a href="#">Conditions</a>
              </li>
              <li>
                <a href="#">Help</a>
              </li>
              <li>
                <a href="#">Terms</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>